<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/nehal/IdeaProjects/Demo1">
        <classes>
            <class name="org.gwit.tests.Test1">
                <methods>
                    <include name="loginPageTitleTest"/>
                    <include name="logineTest"/>
                    <include name="homePageMenuTest"/>
                    <include name="logoutTest"/>
                    <include name="demotest1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
